<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="errorFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
        <target name="ef" xsi:type="File" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" fileName="c:\Temp\Error.log"
          archiveFileName="c:\Temp\Error.{#}.log" archiveAboveSize="2000000" maxArchiveFiles="10" archiveNumbering="DateAndSequence"
          archiveDateFormat="yyyyMMdd" keepFileOpen="true" openFileCacheTimeout="30"/>
      </target>
      <target name="infoFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
        <target name="if" xsi:type="File" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" fileName="c:\Temp\Info.log"
          archiveFileName="c:\Temp\Info.{#}.log" archiveAboveSize="2000000" maxArchiveFiles="10" archiveNumbering="DateAndSequence"
          archiveDateFormat="yyyyMMdd" keepFileOpen="true" openFileCacheTimeout="30"/>
      </target>
      <target name="debugFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
        <target name="df" xsi:type="File" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" fileName="c:\Temp\Debug.log"
          archiveFileName="c:\Temp\Debug.{#}.log" archiveAboveSize="2000000" maxArchiveFiles="10" archiveNumbering="DateAndSequence"
          archiveDateFormat="yyyyMMdd" keepFileOpen="true" openFileCacheTimeout="30"/>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Warn" writeTo="errorFile" enabled="true"/>
      <logger name="*" level="Info" writeTo="infoFile" enabled="true"/>
      <logger name="*" level="Debug" writeTo="debugFile" enabled="false"/>
    </rules>
  </nlog>
</configuration>